.brand-logo
	min-width 9%
	max-width 9%
	
@media screen and (min-width: 660px)
	nav
		padding-left 1em !important
		padding-right 1em !important
		background url(/images/dlit-logo.png) center center no-repeat
		background-size 100px
		
footer 
	border-top 1px solid lightgray;
	padding-left 1em
	color lightgray
	width 100%
	height 120px
	box-shadow 0 -1px 10px lightgray
	background-color black
	bottom 0
	margin-bottom: -20px !important
	left 0
	position absolute
		
@media screen and (min-width: 992px)
	footer 
		border-top 1px solid lightgray
		padding-left 1em
		color lightgray
		width 100%
		height 100px
		box-shadow 0 -1px 10px lightgray
		background-color black
		background url(/images/footer.png) #1a1a1a top right no-repeat
		position absolute
		bottom 0
		left 0	
		
	
html,body 
	margin 0
	padding 0
	height 100%
	background-color #f1f1f1

h4 
	margin-top 0.35em !important
	margin-left 2.95em !important

.page-title:hover
	background-color transparent

.container 
	// min-height 100%
	position relative

li
	.material-icons 
		padding-top 0.45em
		padding-bottom -0.45em

.notification-icon
	.material-icons:hover
		color darkorange
		transform: rotate(20deg);
	
.notification-icon:hover
	max-height 65 !important

ul.notifications 
	margin-top: -5px
	border-bottom 1px solid lightgray

ul.notifications
	div 
		header 
			text-align center
			line-height 1.345 !important
			font-weight bold
			
.notify-item 
	min-height 50px
	font-size 1em !important


.notify-logo 
	width 10% !important
	margin-right 10px


div.notifications-header
	background-color #f1f1f1 !important
	color black !important


.mdi-navigation-menu:hover
	color orange

ul.side-nav
	li:hover
		color orange
	li.active
		border-bottom 5px solid darkorange
		background-color #f0f0f0
		font-weight bolder
img.circle 
	padding-top 5px
	
.input-field 
	input[type=text]:focus , input[type=password]:focus
		border-bottom 1px solid orange !important
		color #000 !important
		box-shadow 0 1px 0 0 orange !important
	input[type=text]:focus + label , input[type=password]:focus + label
		color orange !important
	i.prefix.active
		color orange !important
