//- filter
form
	.input-field.col.s12
		select
			option(ng-repeat="classroom in classrooms",value="{{classroom.code}}",selected) {{classroom.title}}
		label กรุณาเลือกห้องเรียน

//- content-list's card
.row
	.col.s12
		.card.animated.bounceInDown
			.card-content
				span.card-title.black-text {{classroom.title}}
				ul.collapsible(data-collapsible="accordion")
					li.content.video
						.collapsible-header
							i.material-icons local_movies
							| แนะนำเซต
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.practice
						.collapsible-header
							i.material-icons border_color
							| ตัวอย่างที่ 1 
							span
							a(href="#/watch").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a

					li.content.video
						.collapsible-header
							i.material-icons local_movies
							| วีธีการเขียนเซต
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.practice
						.collapsible-header
							i.material-icons border_color
							| ตัวอย่างที่ 2 
							span
							a(href="#/watch").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.practice
						.collapsible-header
							i.material-icons border_color
							| ตัวอย่างที่ 3
							span
							a(href="#/watch").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a

					li.content.video
						.collapsible-header
							i.material-icons local_movies
							| เอกภพสัมพัทธ์
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.video
						.collapsible-header
							i.material-icons local_movies
							| เซตจำกัดและเซตอนันต์
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.practice
						.collapsible-header
							i.material-icons border_color
							| ตัวอย่างที่ 4
							span
							a(href="#/watch").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.practice
						.collapsible-header
							i.material-icons border_color
							| ตัวอย่างที่ 5
							span
							a(href="#/watch").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a

					li.content.video
						.collapsible-header
							i.material-icons local_movies
							| การเท่ากันของเซต
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
					li.content.video
						.collapsible-header
							i.material-icons local_movies
							| สรุป
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a					

					li.content.test
						.collapsible-header
							i.material-icons insert_drive_file
							| ข้อสอบ เซต (Set)
							span
							a(href="#").right.orange-text.darken-3 ดูเนื้อหา
						.collapsible-body
							.row
								.std-activity.col.s4.m4.l4.animated.flipInX.grey.lighten-2
									.card-content
										span.card-title.black-text ยังไม่เริ่ม
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.lighten-2
									.card-content
										span.card-title.black-text เริ่มแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
								.std-activity.col.s4.m4.l4.animated.flipInX.green.darken-2
									.card-content
										span.card-title.black-text เสร็จแล้ว
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
										div a
			.card-action
				.input-field.col.s12
					select.contentFilter
						option(value="1",selected) เนื้อหาทั้งหมด
						option(value="2") วิดีโอสื่อการสอน
						option(value="3") แบบฝึกหัด
						option(value="4") แบบทดสอบ
					label แสดงเฉพาะ 



script.
	$(document).ready(function(){
		$('select').material_select();
		$('.collapsible').collapsible({ accordion : false });
		$('.contentFilter').change(function(){
			var type = $(this).val();
			if (type == 1){
				$('.content').show();
			} else if (type == 2){
				$('.content').hide();
				$('.video').show();
			} else if (type == 3){
				$('.content').hide();
				$('.practice').show();
			} else if (type == 4){
				$('.content').hide();
				$('.test').show();
			}
		});
	})