.row
	.col.s12.m6.l4
		.card.green.accent-1
			.card-image.waves-effect.waves-block.waves-dark
				.row
				center
					img.activator.badge-image(src="images/badges/earth/earth.png")
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| Earth Badges
			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right.red-text close
					| Earth Badges
				ul.collection
					li.collection-item.avatar(ng-repeat="badge in earths")
						img(ng-src="images/badges/earth/{{badge.image}}",title="{{badge.description}}",data-position="bottom",data-delay="50",data-tooltip="{{badge.name}}").circle.tooltipped
						b.title {{badge.name}}
						br
						em.grey-text {{badge.description}}
	.col.s12.m6.l4
		.card.teal
			.card-image.waves-effect.waves-block.waves-dark
				.row
				center
					img.activator.badge-image(src="images/badges/moon/moon.png")
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| Moon Badges
			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right.red-text close
					| Moon Badges
				ul.collection
					li.collection-item.avatar(ng-repeat="badge in moons")
						img(ng-src="images/badges/moon/{{badge.image}}",title="{{badge.description}}",data-position="bottom",data-delay="50",data-tooltip="{{badge.name}}").circle.tooltipped
						b.title {{badge.name}}
						br
						em.grey-text {{badge.description}}

	.col.s12.m6.l4
		.card.pink.accent-1
			.card-image.waves-effect.waves-block.waves-dark
				.row
				center
					img.activator.badge-image(src="images/badges/blackhole/blackhole.png")
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| Blackhole Badges
			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right.red-text close
					| Blackhole Badges
				ul.collection
					li.collection-item.avatar(ng-repeat="badge in blackholes")
						img(ng-src="images/badges/blackhole/{{badge.image}}",title="{{badge.description}}",data-position="bottom",data-delay="50",data-tooltip="{{badge.name}}").circle.tooltipped
						b.title {{badge.name}}
						br
						em.grey-text {{badge.description}}


	.col.s12.m6.l4.offset-l2
		.card.amber.accent-1
			.card-image.waves-effect.waves-block.waves-dark
				.row
				center
					img.activator.badge-image(src="images/badges/sun/sun.png")
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| Sun Badges
			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right.red-text close
					| Sun Badges
				ul.collection
					li.collection-item.avatar(ng-repeat="badge in suns")
						img(ng-src="images/badges/sun/{{badge.image}}",title="{{badge.description}}",data-position="bottom",data-delay="50",data-tooltip="{{badge.name}}").circle.tooltipped
						b.title {{badge.name}}
						br
						em.grey-text {{badge.description}}

	.col.s12.m6.l4.offset-m3
		.card.deep-orange.accent-1
			.card-image.waves-effect.waves-block.waves-dark
				.row
				center
					img.activator.badge-image(src="images/badges/meteorite/meteorite.png")
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| Meteorite Badges
			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right.red-text close
					| Meteorite Badges
				ul.collection
					li.collection-item.avatar(ng-repeat="badge in meteorites")
						img(ng-src="images/badges/meteorite/{{badge.image}}",title="{{badge.description}}",data-position="bottom",data-delay="50",data-tooltip="{{badge.name}}").circle.tooltipped
						b.title {{badge.name}}
						br
						em.grey-text {{badge.description}}

script.
	$(document).ready(function(){
		$('.tooltipped').tooltip({delay: 50});
	})