p This is the dashboard view.


div(style="bottom: 45px; right: 45px;").fixed-action-btn.hide-on-med-and-up
	a.btn-floating.btn-large.orange.darken-2.waves-effect.waves-light
		i.large.material-icons add

