.row
	.card.col.s12.m6.l4
		.card-image.waves-effect.waves-block.waves-light				
			img(src="images/maths-logo.jpg").activator.responsive-img
		.card-content
			span.card-title.activator.grey-text.text-darken-4 
				i.material-icons.right more_vert
				| เซต (Set)	
				
			p
				strong รหัสห้องเรียน: ABCDF
			.row
			center รายชื่อนักเรียน

		.card-reveal
			span.card-title.activator.grey-text.text-darken-4 
				| เซต (Set)
				i.material-icons.right close
			p Here is some more information about this product that is only revealed once clicked on.

button.waves-effect.waves-light.btn.modal-trigger(data-target="modal3") Modal

div#modal3.modal.bottom-sheet
	div.modal-content
		h4 Header
		ul.collection
			li.collection-item.avatar 1
			li.collection-item.avatar 2
			li.collection-item.avatar 3

div(style="bottom: 105px; right: 45px;").fixed-action-btn
	a.btn-floating.btn-large.orange.darken-2.waves-effect.waves-light
		i.large.material-icons add
