.row(ng-show="isTeacher",ng-repeat="classroom in user_classrooms")
	//- classroom list (for teacher)
	.col.s12.m6.l4
		.card.animated.rotateInDownLeft
			.card-image.waves-effect.waves-block.waves-light				
				img(ng-src="images/classroom/{{ classroom.image }}").activator.responsive-img
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| {{ classroom.title }}
					
				p
					em รหัสห้องเรียน: {{ classroom.code }}

				.row
				i.material-icons.left local_offer
				a(href="#",ng-repeat="tag in classroom.tags").deep-orange-text {{ tag+" " }}

				.row
				center
					a.modal-trigger.waves-effect.waves-orange.btn-flat.black-text(ng-click="openModalById(classroom.code)")
						i.material-icons.left people
						|  รายชื่อนักเรียน

			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					| {{ classroom.title }}
					i.material-icons.right.red-text close
				
				h6 เนื้อหาที่สอน
				ul.collection
					li(ng-repeat="topic in classroom.topics").collection-item {{ topic }}

				ul.collection
					a(href="#/managestudents/{{classroom.code}}").collection-item.orange-text.center-align.waves-effect.waves-orange จัดการห้องเรียน
					a(href="#/studentprogress/{{classroom.code}}").collection-item.orange-text.center-align.waves-effect.waves-orange  ติดตามนักเรียน
					a(href="#/activity/{{classroom.code}}").collection-item.orange-text.center-align.waves-effect.waves-orange  งานนักเรียน
				

	//- studentlist by classroom (for teacher)
	.modal.bottom-sheet(ng-repeat="std in std_classrooms",ng-show="isTeacher", id="studentlist-{{classroom.code}}")
		.modal-content
			h4.hide-on-small-only {{ classroom.title }} 
				i.material-icons.right.modal-action.modal-close.waves-effect.waves-light.red-text close
				| | รายชื่อนักเรียน
			h5.hide-on-med-and-up {{ classroom.title }} 
				i.material-icons.right.modal-action.modal-close.waves-effect.waves-light.red-text close
				| | รายชื่อนักเรียน

			ul.collection
				li(ng-repeat="student in std.students").collection-item.avatar
					img(ng-src="images/avatar/{{student.avatar}}.png").circle
					span.title {{student.id}}
					p {{student.firstname+" "+student.lastname}}
					a(href="").orange-text ข้อมูลนักเรียน

.row(ng-show="isStudent")
	//- student's detail list 
	h4(ng-show="isStudent").center-align.grey-text.text-darken-2 ข้อมูลนักเรียน
	.col.s12.m12.l12(ng-show="isStudent")
		.card.animated.zoomInUp
			.card-content
				span.card-title.orange-text.text-darken-2 ข้อมูลส่วนตัว @{{user.username}}
				.row
					.col.s2.m2.l2.std-avatar
						img(ng-src="images/avatar/{{ user.avatar }}.png").avatar.black.responsive-img.hoverable.hide-on-small-only.user-avatar
						img(src="images/avatar/red-evolution-line.png",width="50%").evolution-line.left
					.col.s12.m12.l4.std-detail
						h5.hide-on-small-only {{user.firstname +" "+ user.lastname}} | {{user.id}}
						h6.hide-on-med-and-up {{user.firstname +" "+ user.lastname}} | {{user.id}}
						p {{user.education_level}} ({{user.major}})
						p {{user.school}}
					.col.s12.m12.l6.std-badges.right
						.badge-box(ng-repeat="badge in user_show_badges")	 
							b {{badge.name}}
							br
							img(ng-src="images/badges/{{badge.group}}/{{badge.image}}",alt="{{badge.name}}",title="{{badge.description}}",data-position="top",data-delay="50",data-tooltip="{{badge.description}}",ng-click="tooltipOver()").user-badges.tooltipped
						.row
						a(data-target="all-badges-modal").btn-flat.waves-effect.waves-orange.right.hoverable.modal-trigger
							i.material-icons.left stars
							| ดูทั้งหมด						

			.card-action
				a(href="#/profile/{{user.id}}").btn-flat.waves-effect.waves-orange.black-text
					i.material-icons mode_edit
					| แก้ไขข้อมูลส่วนตัว
				h5.right คะแนนรวม {{user.score}} คะแนน

	//- all badges modal
	.modal.modal-fixed-footer(ng-show="isStudent")#all-badges-modal
		.modal-content
			h5 เหรียญทั้งหมดของ {{user.firstname+" "+user.lastname}}

			ul.collection
				li(ng-repeat="badge in user_badges").collection-item.avatar
					img(ng-src="images/badges/{{badge.group}}/{{badge.image}}").circle
					b.title {{badge.name}}
					p.grey-text.lighten-1 {{badge.description}}

		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-red.btn-flat.red-text  
				i.material-icons.left close
				| ปิด

	.col.s12.m6
		.card.animated.zoomInUp.green
			.card-content
				span.card-title.black-text กิจกรรมล่าสุด
			.card-action.white
				div(ng-repeat="activity in user_activities") 
					b.grey-text {{activity.datetime}}
					br
					| {{activity.description}}
					br
					br
					li.divider
					br

	.col.s12.m6
		.card.animated.zoomInUp.green
			.card-content
				span.card-title.black-text คะแนน
			.card-action.white
				div(ng-repeat="score in user_scores")
					b.grey-text {{score.datetime}}
					br
					b.left {{score.title}} 
					b.deep-orange-text.right {{score.score}} คะแนน
					br
					br
					li.divider


	.col.s12.hide-on-small-only
		.card.blue
			.card-content
				span.card-title.black-text ภาพรวมการเรียน
			.card-action.white
				center
					h5 เดือนกรกฏาคม 2558
				#chart

//- student's learning class list
h4(ng-show="isStudent").center-align.grey-text.text-darken-2 บทเรียนที่กำลังศึกษา 
center(ng-show="std_classrooms.length == 0") 
	em ไม่มีบทเรียนที่กำลังศึกษาอยู่
.row(ng-show="isStudent",ng-repeat="classroom in std_classrooms")
	.col.s12.m6.l4
		.card.animated.rotateInDownLeft
			.card-image.waves-effect.waves-block.waves-light				
				img(src="images/classroom/maths-logo.jpg").activator.responsive-img
			.card-content
				span.card-title.activator.grey-text.text-darken-4 
					i.material-icons.right more_vert
					| {{classroom.title}}
					
				p
					em รหัสห้องเรียน: {{classroom.code}}
				.row
				center 
					a.waves-effect.waves-orange.btn-flat.hoverable(href='#/watch/{{classroom.code}}')
						i.material-icons.left play_circle_outline
						|  เข้าเรียน
					.row
					.progress.orange.lighten-4
						.determinate.orange(style="width: {{classroom.finished}}%")
					strong.left เรียนแล้ว {{classroom.finished}}%
				.row
				i.material-icons.left local_offer
				a(href="#").deep-orange-text คณิตศาสตร์
				b , 
				a(href="#").deep-orange-text เซต

			.card-reveal
				span.card-title.activator.grey-text.text-darken-4 
					| {{classroom.title}}
					i.material-icons.right.red-text close
				
				h6 เนื้อหาที่เรียน
				ul.collection
					li(ng-repeat="topic in classroom.topics").collection-item {{topic}}
	
					center
						img(ng-src="images/{{classroom.teacher_image}}",width="50%").circle
						br
						b.title {{classroom.teacher_name}}
						br 
						| ครูผู้สอน

					





//- action button teacher (add classroom)
div(style="bottom: 55px; right: 55px;",ng-show="isTeacher").fixed-action-btn.animated.fadeInDown
	a(data-position="top",data-delay="50",data-tooltip="สร้างห้องเรียน").btn-floating.btn-large.orange.darken-2.waves-effect.waves-light.btn.tooltipped
		i.large.material-icons add
//- action button student (searching classroom)
div(style="bottom: 55px; right: 55px;",ng-show="isStudent").fixed-action-btn.animated.fadeInDown
	a(data-position="top",data-delay="50",data-tooltip="ค้นหาห้องเรียน").btn-floating.btn-large.orange.darken-2.waves-effect.waves-light.btn.tooltipped
		i.large.material-icons.right school


script(src="scripts/charts/chart2.js")
script.
	$(document).ready(function(){
		$('.modal-trigger').leanModal();
		$('.tooltipped').tooltip({delay: 50});
		$('.evolution-line').hide();
		$('.avatar').on('mouseenter',function(){
			$('.evolution-line').fadeToggle('slow');
		});
		$('.avatar').on('mouseleave',function(){
			$('.evolution-line').fadeToggle('slow');
		});
	});