//- filter
form
	.input-field.col.s12
		select(name="show-filter").show-filter
			option(value="0",selected) ทุกวิชา 
			option(value="1") คณิตศาสตร์
			option(value="2") วิทยาศาสตร์
			option(value="3") ภาษาอังกฤษ
		label เลือกวิชาที่ต้องการ

//- exam list card
.row
	.col.s12.m6.l4.exam(ng-repeat="exam in exams", data-subject-id="{{exam.subject_id}}")
		.card
			.card-content
				span.card-title.black-text {{exam.title}} | {{exam.number_of_question}} ข้อ
				br
				b วิชา {{exam.subject_name}} | 
				b รหัสข้อสอบ {{exam.code}}
				ul.collapsible(data-collapsible="accordion",ng-click="click()")
					li
						.collapsible-header(style="border-bottom:0px")
							i.material-icons.left keyboard_arrow_down
							| เนื้อหาข้อสอบ
						.collapsible-body
							ul.collection.with-header
								li.collection-item(ng-repeat="topic in exam.topics") {{topic}}

				b ระยะเวลาทำข้อสอบ {{exam.time}} นาที
				.row
				i.material-icons.left local_offer
				a(href="",ng-repeat="tag in exam.tags").deep-orange-text {{tag+" "}}

			.card-action
				center
					a.btn-flat.waves-effect.waves-orange.black-text.hide-on-small-only(href="#/exams/{{exam.code}}") 
						i.material-icons.left send
						| เข้าสอบ
					em.hide-on-med-and-up.red-text อุปกรณ์ไม่เหมาะสมในการเข้าทำข้อสอบ

//- action button student (serching exam)
div(style="bottom: 55px; right: 55px;",ng-show="isStudent").fixed-action-btn.animated.fadeInDown
	a(data-position="top",data-delay="50",data-tooltip="ค้นหาข้อสอบ").btn-floating.btn-large.orange.darken-2.waves-effect.waves-light.btn.tooltipped
		i.large.material-icons.right search


script.
	$(document).ready(function(){	
		$('.collapsible').collapsible({ accordion : false });
		$('select').material_select();
		$('.tooltipped').tooltip({delay: 50});
	})