//- filter
form
	.input-field.col.s12
		select
			option(value="1",selected) ทุกวิชา 
			option(value="2") คณิตศาสตร์
			option(value="3") วิทยาศาสตร์
			option(value="4") ภาษาอังกฤษ
		label เลือกวิชาที่ต้องการ

//- exam list card
.row
	.col.s12.m6.l4
		.card
			.card-content
				span.card-title.black-text ข้อสอบ O-Net คณิตศาสตร์ 2552 | 40 ข้อ
				br
				strong วิชา คณิตศาสตร์ | 
				strong รหัสข้อสอบ EXZY2
				ul.collection.with-header
					li.collection-header
						p เนื้อหาข้อสอบ
					li.collection-item 1
					li.collection-item 2
					li.collection-item 3
					li.collection-item 4
				strong ระยะเวลาทำข้อสอบ 120 นาที
				.row
				i.material-icons.left local_offer
				a(href="#").deep-orange-text คณิตศาสตร์
				b , 
				a(href="#").deep-orange-text เซต
			.card-action
				center
					a.btn-flat.waves-effect.waves-orange.black-text.hide-on-small-only(href="#/exams/EXZY2") 
						i.material-icons.left send
						| เข้าสอบ
					em.hide-on-med-and-up.red-text อุปกรณ์ไม่เหมาะสมในการเข้าทำข้อสอบ


script.
	$(document).ready(function(){
		$('select').material_select();
		$('.tooltipped').tooltip({delay: 50});
	})