//- filter
form
	.input-field.col.s12
		select
			option(ng-repeat="classroom in classrooms",value="{{classroom.code}}",selected) {{classroom.title}}
		label กรุณาเลือกห้องเรียน
.center-align
	button(data-report-type="charts-report").active.btn.orange.waves-effect.waves-light.black-text.report-type-btn 
		i.material-icons.left insert_chart
		| แผนภูมิคะแนน:เวลา 
	button(data-report-type="badges-report").btn.orange.waves-effect.waves-light.report-type-btn  
		i.material-icons.left stars
		| สรุปเหรียญรางวัล
//- card for chart 
.row.charts-report
	.col.s12
		.card.animated.fadeIn
			.card-content
				span.card-title.black-text {{classroom.title}}
				b.right จำนวนนักเรียน {{students.length}} คน
				#chart
			.card-action
				table.bordered.hoverable.centered.responsive-table
					thead
						tr.orange.accent-1
							th(data-field="std_time_max") เวลาเรียนมากที่สุด (max.)
							th(data-field="std_time_min") เวลาเรียนน้อยที่สุด (min.)
							th(data-field="std_time_avg") เวลาเรียนเฉลี่ย (avg.)
							th(data-field="std_score_max") คะแนนสอบมากทีสุด (max.)
							th(data-field="std_score_min") คะแนนสอบน้อยที่สุด (min.)
							th(data-field="std_score_avg") คะแนนสอบเฉลี่ย (avg.)

					tbody
						tr
							td 30 นาที
							td 4 นาที
							td 12 นาที
							td 98 คะแนน
							td 42 คะแนน
							td 80 คะแนน

				b.right รหัสห้องเรียน: {{classroom.code}} 

.row.badges-report
	.col.s12
		.card.animated.fadeIn
			.card-content
				span.card-title.black-text {{classroom.title}}
				b.right จำนวนนักเรียน {{students.length}} คน

				table.bordered.responsive-table
					thead
						tr.orange.accent-1
							th นักเรียน
							th เหรียญรางวัลที่ได้


					tbody
						tr(ng-repeat="student in students")
							{{student.badges}}
							td(width="25%") 
								a(href="#/dashboard/{{student.id}}").deep-orange-text {{student.id+" "+student.firstname+" "+student.lastname}}
							td 
								.show-summary-badges
									.badge-box(ng-repeat="badge in student.badges")	 
										b {{badge.name}}
										br
										img(ng-src="images/badges/{{badge.group}}/{{badge.image}}",alt="{{badge.name}}",data-position="top",data-delay="50",title="{{badge.description}}",data-tooltip="{{badge.description}}",ng-click="click()").user-badges.tooltipped

			.card-action
				b.right รหัสห้องเรียน: {{classroom.code}} 


script(src="scripts/charts/chart1.js")
script.
	$(document).ready(function(){
		$('select').material_select();
		$('.badges-report').hide();
		$('.report-type-btn').click(function(){
			$('.report-type-btn').removeClass('black-text');
			$(this).addClass('black-text');
			if ($(this).attr('data-report-type') == "charts-report"){
				$('.badges-report').hide();
				$('.charts-report').show();
			} else {
				$('.badges-report').show();
				$('.charts-report').hide();
			}
		});
	})