//- modal warning before taking the exam
#exam-modal.modal
	.modal-content
		h5.center-align {{exam.title}} ( {{exam.number_of_question}} ข้อ | {{exam.time}} นาที )
		center
			a.modal-action.modal-close.waves-effect.waves-light.btn.green.start-exam เริ่มทำการสอบ
			&nbsp&nbsp&nbsp
			a(href="#/exams").modal-action.modal-close.waves-effect.waves-light.btn.red.back ยกเลิก 
			
		

//- clock timer for exam
.exam-clock.col.offset-m4

.row
	//- question sheet card
	.col.m8.l8
		.card
			.card-content
				span.card-title.black-text กระดาษคำถาม เรื่อง {{exam.title}} ({{exam.number_of_question}} ข้อ)
				object(width="100%",height="600", data="{{exam.content_url}}",type='application/pdf')
			.card-action
				b.left รหัสข้อสอบ {{ exam.code }} | วิชา {{exam.subject_name}}
				b.right สอบเมื่อวันที่ {{ datetime | date:"dd MMMM yyyy 'เวลา' HH:mm":'+0700' }} น.
				br

	//- answer sheet card
	.col.m4.l4
		.card
			.card-content
				span.card-title.black-text กระดาษคำตอบ
				.row
					h6 ข้อ | 1 &nbsp&nbsp&nbsp&nbsp2 &nbsp&nbsp&nbsp&nbsp3 &nbsp&nbsp&nbsp&nbsp4 &nbsp&nbsp&nbsp&nbsp5
					.divider
				.row(ng-repeat="answer in answer_box")
					p.no.left-align {{answer}}. |
					form.answer-set
						input(name="no{{answer}}",type="radio",id="ans{{answer}}1")
						label(for="ans{{answer}}1")

						input(name="no{{answer}}",type="radio",id="ans{{answer}}2")
						label(for="ans{{answer}}2") 

						input(name="no{{answer}}",type="radio",id="ans{{answer}}3")
						label(for="ans{{answer}}3") 

						input(name="no{{answer}}",type="radio",id="ans{{answer}}4")
						label(for="ans{{answer}}4")

						input(name="no{{answer}}",type="radio",id="ans{{answer}}5")
						label(for="ans{{answer}}5")  		


				

			.card-action
				center
					a(href="",type="submit").btn-flat.waves-effect.waves-dark.black-text.finish-exam
						i.material-icons.left assignment_turned_in
						| ส่งคำตอบ
					br

//- action button student (show clipboard)
div(style="bottom: 55px; right: 55px;",ng-show="isStudent").fixed-action-btn.animated.fadeInDown
	a(href="#clipboard-modal",data-position="top",data-delay="50",data-tooltip="แสดงกระดาษทด").modal-trigger.btn-floating.btn-large.orange.darken-2.waves-effect.waves-light.btn.tooltipped
		i.large.material-icons.right content_paste

//- clipboard's modal
#clipboard-modal.modal.bottom-sheet
	.modal-content
		h4
			i.material-icons.right.red-text.modal-action.modal-close.waves-effect.waves-dark close 
			| กระดาษทด
		textarea.materialize-textarea

script.
	$(document).ready(function(){
		$('.modal-trigger').leanModal();
		$('.tooltipped').tooltip({delay: 50});
		$('#exam-modal').openModal({dismissible: false});
		var clock = $('.exam-clock').FlipClock({autoStart:false, clockFace:'MinuteCounter'});
		clock.setTime(7200);
		clock.setCountdown(true);
		$('.start-exam').click(function(){
			clock.start();
		});
		$('.finish-exam').click(function(){
			clock.stop();
		});
	})