ul#slide-out.side-nav.fixed(style="margin-top:64px")
	li.active
		a เซต (Set) | เบื้องต้น
	li
		a.disabled เซต (Set) | ตะลุยโจทย์

.row
	.col.s12.m9.l9.right
		.card
			.card-content
				span.card-title เซต (Set)
			.card-action

