.row
	.col.s12.m3.l3
		.card
			.card-content
				.card-image
					img(src="images/maths-logo.jpg")
				span.card-title.black

	.col.s12.m9.l9
		.card
			.card-content
				span.card-title.black-text เซต (Set)
			.card-action
				.left
					button.btn.orange.waves-effect.waves-light X1
					button.btn.orange.waves-effect.waves-light X1.5
					button.btn.orange.waves-effect.waves-light X2
				.right
					button.btn.blue.waves-effect.waves-light ดาวน์โหลด
					button.btn.green.waves-effect.waves-light เอกสารประกอบการเรียน
				.row

