.row
	.col.s12.m12.l3
		//- classroom controller's card
		.card.animated.zoomIn
			.card-image
				img(src="images/classroom/maths-logo.jpg").hide-on-med-and-down
			.card-content
				span.card-title.black-text {{classroom.title +" | "+classroom.code}}
				ul.collapsible.z-depth-0.classrooom-sidenav(data-collapsible="accordion")
					li
						.collapsible-header.active
							i.material-icons.left keyboard_arrow_down
							|  {{classroom.title}} (เบื้องต้น)
						.collapsible-body
							ul.collection
								a(ng-repeat="video in videos",data-href="{{video.content_url}}",data-index="{{$index}}").video-link.black-text.collection-item.waves-effect.waves-orange
									i.material-icons.left {{video.logo}}
									| {{video.title}}
									.secondary-content
					li
						.collapsible-header
							i.material-icons.left keyboard_arrow_down
							|  {{classroom.title}} (ตะลุยโจทย์)
						.collapsible-body
							ul.collection
								a(href="").video-link.black-text.collection-item.waves-effect.waves-orange
									i.material-icons.left description
									| โจทย์ปัญหาที่ 1	
									.secondary-content
								a(href="").video-link.black-text.collection-item.waves-effect.waves-orange  
									i.material-icons.left check_circle
									| เฉลยโจทย์ปัญหาที่ 1	
									.secondary-content
					li
						.collapsible-header
							a(href="").black-text
								i.material-icons.left insert_drive_file
								|  {{classroom.title}} (แบบทดสอบ)
			.card-action
				i.material-icons.left local_offer
				a(href="#",ng-repeat="tag in classroom.tags").deep-orange-text {{tag+" "}}				

				

	.col.s12.m12.l9
		//- video's card
		.card.animated.zoomIn
			.card-content
				span.card-title.black-text ชื่อวิดีโอ
				.video-container
					video#video-item(src="videos/dlit_maths_set/01.mp4", controls, width="100%")
			.card-action
				.left
					b ความเร็ววิดีโอ
					br
					button(onclick="adjustSpeed(1);").btn.pink.waves-effect.waves-light X1
					button(onclick="adjustSpeed(1.5);").btn.pink.waves-effect.waves-light X1.5
					button(onclick="adjustSpeed(2);").btn.pink.waves-effect.waves-light X2
				.right.hide-on-small-only
					br
					button.btn.blue.waves-effect.waves-light
						i.material-icons.left cloud_download
						| ดาวน์โหลด
					button.btn.green.waves-effect.waves-light
						i.material-icons.left file_download
						| เอกสารประกอบการเรียน
				.row


script.
	var adjustSpeed = function(speed){
		var vid = document.getElementById('video-item');
		vid.playbackRate = speed;
	}
	$(document).ready(function(){
		$('#video-item').click(function(){
			var vid = document.getElementById('video-item');
			if(vid.paused)
				vid.play();
			else
				vid.pause();
		});
		$('.collapsible').collapsible({ accordion : false });
		if($('.video-link').attr('data-index') == "0"){
			alert(0);
		}
		$('.video-link').click(function(){
			$('.video-link').removeClass('active');
			$(this).addClass('active');
			$('.video-link').find($('.secondary-content')).html('');
			$(this).find($('.secondary-content')).html('<i class="material-icons green-text">play_arrow</i>');
			$('#video-item').attr('src',$(this).attr('data-href'));
		});		
	})
